a {
    color: var(--anchor-color);
    opacity: 0.85;
    transition: opacity 200ms;
}

a:hover {
    opacity: 1;
}

p {
    color: var(--gray-light);
}

strong {
    font-weight: inherit;
}

figure,
blockquote {
    margin: 0;
}

address {
    font-style: normal;
}