#intro {
    position: relative; /*for the arrow button positioning */
    margin-bottom: 50px;
}

#intro-h1 {
    margin-bottom: 0;
}
#intro-h2 {
    margin-top: 0;
    margin-bottom: 40px;
    overflow-wrap: break-word;
}

#intro p {
    margin-block: 0;
}