#toggle-theme {
  all: inherit;
  outline: revert;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
  opacity: 0.9;
  transition: opacity 180ms, translate 180ms;
  z-index: 1;
  position: fixed;
  top: 5px;
  right: 7px;
}
#toggle-theme:hover {
  opacity: 1;
}
#toggle-theme:active {
  translate: 1px 1px;
}

#git-logo {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 180ms;
  z-index: 1;
  position: fixed;
  top: 5px;
  left: 7px;
}
#git-logo:hover {
  opacity: 1;
}
.git-light {
  filter: invert(88%) sepia(70%) saturate(1099%) hue-rotate(324deg)
    brightness(107%) contrast(90%);
}
